.stock{
    width: 300px;
    height: 140px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(224, 255, 255);
}
.upper{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}
.lowers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.options .buy button{
    background-color: #00d09c; /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.options .sell button{
    background-color: rgba(255, 0, 0, 0.481); /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.content{
    font-size: 17px;
    font-family: Roboto,system-ui;
    color: var(--text130);
    letter-spacing: .3px;
    font-weight: 350;
    -webkit-font-smoothing: auto;
    margin: 0;
}
.green{
    color: #00d09c;
}
.red{
    color: rgba(255, 0, 0, 0.71)
}
.quantity{
    width: 50px;
}